# Python compiled files #
#########################
*.pyc

# Unit testing outputs
#########################
unittests/outputs/*.png
unittests/outputs/*.log

# Unit testing resources
#########################
unittests/resources/**/*.so
unittests/resources/**/*.h
unittests/resources/**/*.o
unittests/resources/**/*.xml
unittests/resources/**/*.txt

# Ignore Dymola output, log and temporary files (in alphabetical order)
#######################################################################
*.bak-mo
*.mat
*.mof
buildlog.txt
dsfinal.txt
dsin.txt
dslog.txt
dsmodel.c
dsmodelext[0-9].c
dsres.txt
dymosim.exe
dymosim.exp
dymosim.lib
dymosim
unitTests.log
empty.txt
request
stat
status
stop

# Tutorial
##########
doc/userGuide/tutorial/*.txt
doc/userGuide/tutorial/*.fmu
doc/userGuide/tutorial/*.mop
doc/userGuide/tutorial/*.png

# UserGuide Build
#########################
doc/userGuide/build

# mop files in resources
#########################
resources/model/*.mop
unittests/resources/model/*.mop
